body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.intro {
  align-content: center;
  color: hotpink;
}

.title {
  font-size: 35px;
  font-weight: bold;
}

.navbar .container-fluid .navbar-header > a:hover {
    color: hotpink;
}

.beers {
  list-style-type: none;
  font-size: 18px;
}
