body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.intro {
  align-content: center;
  color: hotpink;
}

.title {
  font-size: 35px;
}

.beers {
  list-style-type: none;
  font-size: 18px;
}
