body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.intro {
  align-content: center;
}

.title {
  font-size: 35px;
  font-weight: bold;
}

.navbar .container-fluid .navbar-header > a:hover {
    color: hotpink;
}

.beers {
  list-style-type: none;
  font-size: 12px;
  color: hotpink;
  padding-left: 0;
}

.toggle {
  margin: 5px;
}

.btn-home {
  background-color: white;
  border-color: hotpink;
  border-width: thin;
}

.btn-home:hover {
  transform: scale(1.1);
  color: hotpink;
}

a {
  color: hotpink;
}

a:hover {
  cursor: pointer;
  color: black;
}
